.canvas_r {
  border: 1px black solid;
  border-radius: 10px;
}
.canvas_all {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.canvas_panel {
  display: flex;
  gap: 10px;
  height: 50px;
  justify-content: start;
  align-items: center;
}
.pen {
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
  border: none;
}

.pen_active {
  background-color: rgb(255, 255, 255);
  border: 1px green solid;
}
